* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
}
h3,
p {
  font-weight: 300;
}
.container {
  height: 100vh;
  display: grid;
  padding: 20px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: "Total" "Search" "Content";
}

.total {
  padding: 30px 0;
  font-size: 20px;
  background-color: #34495e;
  color: white;
  text-shadow: 2px 2px #083c70;
  grid-area: Total;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.totalCases,
.totalDeaths,
.totalRecovered {
  margin: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search {
  grid-area: Search;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.content {
  grid-area: Content;
  display: grid;
}

input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-bottom: 3px solid #2c3e50;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}
input:focus {
  color: black;
  border-bottom: 3px solid #4f7aa5;
  background-color: rgba(255, 255, 255, 0.6);
}
.AllCountries {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
}
.specificCountry {
  background-color: green;
  flex-direction: column;
  display: none;
}
.header {
  background-color: rgb(209, 204, 209);
  height: 50%;
  padding: 50px;
  text-align: center;
}
.footer {
  background-color: rgb(201, 201, 201);
  height: 50%;
  padding : 50px;
  text-align: center;
}
.style {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-image: linear-gradient(
    350deg,
    #f3eff0 0,
    #eaeaea 50%,
    #e1e5e4 100%
  );
}
.style:hover {
  color: #083c70;
  transition: 0.7s;
}
.style > img {
  margin-bottom: 20px;
  width: 150px;
  height: 100px;
}


.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
}
.loader {
  margin: 20px;
  display: inline-block;
  position: relative;
  animation: loader 2.5s infinite ease;
}
.title-loader {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

